{% extends 'base.html' %}

{% block title %}
    Vote | Nacos Noun
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {% with m = get_flashed_messages() %}
				{% for i in m %}
				<p class="fw-4">{{i}}</p>
				{% endfor %}
				{% endwith %}
    </div>
    <div class="col-md-4 mt-3 mb-3">
      <h4 class="text-center">List of Aspirants</h4>
      
      <div class="col-md-12 mt-3">
      {% for pre in presi %}
      {% if pre.cont_post=='president' %}
        <div class="row">
          <div class="col-md-3 mt-3">
            <img src="static/images/contestant/{{pre.cont_pic}}" alt="{{pre.cont_name}}" class="img-fluid">
          </div>
          <div class="col-md-9 mt-3">
            <span>Name: </span><span> {{pre.cont_name}}</span><br>
            {#<span>NACOS ID: </span><span> {{pre.na_nacosid}}</span><br>#}
            <span>Level: </span><span> {{pre.na_nacoslevel}}</span><br>
            <span>Study Center: </span><span> {{pre.cont_studycenter}}</span><br>
            {% if pre.cont_department == 'cs' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'cse' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'csm' %}
            <span>Department: </span><span> Computer Science / Mathematics</span><br>
            {% elif pre.cont_department == 'it' %}
            <span>Department: </span><span> Information Technology</span><br>
            {% endif %}
            <span>Aspiring for: </span><span> {{pre.cont_post|upper}}</span>
          </div>
        </div>
      {% elif pre.cont_post=='vp' %}
        <div class="row">
          <div class="col-md-3 mt-3">
            <img src="static/images/contestant/{{pre.cont_pic}}" alt="{{pre.cont_name}}" class="img-fluid">
          </div>
          <div class="col-md-9 mt-3">
            <span>Name: </span><span> {{pre.cont_name}}</span><br>
            {#<span>NACOS ID: </span><span> {{pre.na_nacosid}}</span><br>#}
            <span>Level: </span><span> {{pre.na_nacoslevel}}</span><br>
            <span>Study Center: </span><span> {{pre.cont_studycenter}}</span><br>
            {% if pre.cont_department == 'cs' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'cse' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'csm' %}
            <span>Department: </span><span> Computer Science / Mathematics</span><br>
            {% elif pre.cont_department == 'it' %}
            <span>Department: </span><span> Information Technology</span><br>
            {% endif %}
            <span>Aspiring for: </span><span> {{pre.cont_post|upper}}</span>
          </div>
        </div>
      {% elif pre.cont_post=='vp special duties' %}
        <div class="row">
          <div class="col-md-3 mt-3">
            <img src="static/images/contestant/{{pre.cont_pic}}" alt="{{pre.cont_name}}" class="img-fluid">
          </div>
          <div class="col-md-9 mt-3">
            <span>Name: </span><span> {{pre.cont_name}}</span><br>
            {#<span>NACOS ID: </span><span> {{pre.na_nacosid}}</span><br>#}
            <span>Level: </span><span> {{pre.na_nacoslevel}}</span><br>
            <span>Study Center: </span><span> {{pre.cont_studycenter}}</span><br>
            {% if pre.cont_department == 'cs' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'cse' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'csm' %}
            <span>Department: </span><span> Computer Science / Mathematics</span><br>
            {% elif pre.cont_department == 'it' %}
            <span>Department: </span><span> Information Technology</span><br>
            {% endif %}
            <span>Aspiring for: </span><span> {{pre.cont_post|upper}}</span>
          </div>
        </div>
      {% elif pre.cont_post=='gen sec' %}
        <div class="row">
          <div class="col-md-3 mt-3">
            <img src="static/images/contestant/{{pre.cont_pic}}" alt="{{pre.cont_name}}" class="img-fluid">
          </div>
          <div class="col-md-9 mt-3">
            <span>Name: </span><span> {{pre.cont_name}}</span><br>
            {#<span>NACOS ID: </span><span> {{pre.na_nacosid}}</span><br>#}
            <span>Level: </span><span> {{pre.na_nacoslevel}}</span><br>
            <span>Study Center: </span><span> {{pre.cont_studycenter}}</span><br>
            {% if pre.cont_department == 'cs' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'cse' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'csm' %}
            <span>Department: </span><span> Computer Science / Mathematics</span><br>
            {% elif pre.cont_department == 'it' %}
            <span>Department: </span><span> Information Technology</span><br>
            {% endif %}
            <span>Aspiring for: </span><span> {{pre.cont_post|upper}}</span>
          </div>
        </div>
      {% elif pre.cont_post=='fin sec' %}
        <div class="row">
          <div class="col-md-3 mt-3">
            <img src="static/images/contestant/{{pre.cont_pic}}" alt="{{pre.cont_name}}" class="img-fluid">
          </div>
          <div class="col-md-9 mt-3">
            <span>Name: </span><span> {{pre.cont_name}}</span><br>
            {#<span>NACOS ID: </span><span> {{pre.na_nacosid}}</span><br>#}
            <span>Level: </span><span> {{pre.na_nacoslevel}}</span><br>
            <span>Study Center: </span><span> {{pre.cont_studycenter}}</span><br>
            {% if pre.cont_department == 'cs' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'cse' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'csm' %}
            <span>Department: </span><span> Computer Science / Mathematics</span><br>
            {% elif pre.cont_department == 'it' %}
            <span>Department: </span><span> Information Technology</span><br>
            {% endif %}
            <span>Aspiring for: </span><span> {{pre.cont_post|upper}}</span>
          </div>
        </div>
      {% elif pre.cont_post=='pro1' %}
        <div class="row">
          <div class="col-md-3 mt-3">
            <img src="static/images/contestant/{{pre.cont_pic}}" alt="{{pre.cont_name}}" class="img-fluid">
          </div>
          <div class="col-md-9 mt-3">
            <span>Name: </span><span> {{pre.cont_name}}</span><br>
            {#<span>NACOS ID: </span><span> {{pre.na_nacosid}}</span><br>#}
            <span>Level: </span><span> {{pre.na_nacoslevel}}</span><br>
            <span>Study Center: </span><span> {{pre.cont_studycenter}}</span><br>
            {% if pre.cont_department == 'cs' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'cse' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'csm' %}
            <span>Department: </span><span> Computer Science / Mathematics</span><br>
            {% elif pre.cont_department == 'it' %}
            <span>Department: </span><span> Information Technology</span><br>
            {% endif %}
            <span>Aspiring for: </span><span> {{pre.cont_post|upper}}</span>
          </div>
        </div>
      {% elif pre.cont_post=='pro2' %}
        <div class="row">
          <div class="col-md-3 mt-3">
            <img src="static/images/contestant/{{pre.cont_pic}}" alt="{{pre.cont_name}}" class="img-fluid">
          </div>
          <div class="col-md-9 mt-3">
            <span>Name: </span><span> {{pre.cont_name}}</span><br>
            {#<span>NACOS ID: </span><span> {{pre.na_nacosid}}</span><br>#}
            <span>Level: </span><span> {{pre.na_nacoslevel}}</span><br>
            <span>Study Center: </span><span> {{pre.cont_studycenter}}</span><br>
            {% if pre.cont_department == 'cs' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'cse' %}
            <span>Department: </span><span> Computer Science</span><br>
            {% elif pre.cont_department == 'csm' %}
            <span>Department: </span><span> Computer Science / Mathematics</span><br>
            {% elif pre.cont_department == 'it' %}
            <span>Department: </span><span> Information Technology</span><br>
            {% endif %}
            <span>Aspiring for: </span><span> {{pre.cont_post|upper}}</span>
          </div>
        </div>
      {% endif %}
      {% endfor %}
      </div>
      
    </div>
    <div class="col-md-4 mt-3 mb-3mt-3 mb-3">
      <h4>Kindly Login with your Nacos Noun ID</h4>
      <form action="{{url_for('home')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <input type="text" name="nacosid" class="form-control mt-3 mb-3" placeholder="NACOS ID" required>
        <button type="submit" class="form-control btn btn-outline-success mt-3 mb-3" disabled>Login</button>
      </form>
    </div>
    <div class="col-md-4 mt-3 mb-3 text-center">
      <h5>Contestant Register Here</h5>
      <a href="{{url_for('contestant')}}" target="_self" class="btn btn-warning mt-3 mb-3">Register</a>
    </div>
  </div>
</div>
{% endblock %}